@import "general";
@import "config";

.container {
  font-size: $f-size;
  font-family: $f-family;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position-x: -10%, 110%;
  background-position-y: -40vh, 35vh;
  background-color: $dark-cyan;

  .card {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    background-image: url("../images/bg-pattern-card.svg");
    background-position: top;
    background-repeat: no-repeat;

    picture {
      display: flex;
      justify-content: center;

      img {
        margin-top: 92px;
        border: 4px solid white;
        border-radius: 100px;
        width: 96px;
        height: 96px;
      }
    }

    h3 {
      color: $dark-gray;
    }

    .name-age-city {
      @include flex-box;
      flex-direction: column;
      margin-top: 1rem;

      .name-age {
        @include flex-box;
      }

      h2 {
        color: $dark-gray;
      }
    }
    .separator {
      margin-top: 1rem;
      border: 1px solid $dark-gray;
      opacity: 25%;
    }

    .all-stats {
      @include flex-box;
      justify-content: space-around;
      width: 325px;
      margin-left: 12.5px;
      margin-top: 1rem;
      margin-bottom: 2rem;

      .stats {
        @include flex-box;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .container {
    height: 100vh;

    .card {
      width: 85%;
    }
    .all-stats {
      width: 90%;
    }
  }
}
