@import "config";
@import "general";

.container {
  @include flex-center;
  flex-direction: column;
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-color: $clr-dark-cyan;
  background-position-x: -10%, 110%;
  background-position-y: -35vh, 35vh;

  main {
    width: 95%;
    max-width: 25rem;
    min-width: 18.75rem;
    background-color: white;
    border-radius: 1rem;
    background-image: url("../images/bg-pattern-card.svg");
    background-position: top;
    background-repeat: repeat-x;
    text-align: center;
    position: relative;

    img {
      margin-top: 92px;
      margin-inline: auto;
      border: 4px solid white;
      border-radius: 50%;
      width: 96px;
      height: 96px;
    }
  }
}

.section-id {
  @include flex-center;
  flex-direction: column;
  margin: 1em 0;

  div {
    @include flex-center;
    gap: 0.5em;

    h1 {
      font-weight: 700;
    }

    .age {
      opacity: 0.5;
    }
  }
  .city {
    font-size: $fs-300;
    opacity: 0.5;
  }
}

hr {
  opacity: 0.1;
}

.section-stats {
  @include flex-center;
  justify-content: space-around;
  margin: 1em 2em;
  div {
    @include flex-center;
    flex-direction: column;

    p {
      font-weight: 700;
    }

    h2 {
      font-size: $fs-200;
      opacity: 0.5;
    }
  }
}
